main {
	display: flex;
	justify-content: center;
	height: 130px;
	align-items: center;
}

#container {
	width: 450px;
	overflow: hidden;
}

#list {
	flex-wrap: nowrap;
    display: flex;
    justify-content: flex-start;
}

img {
	margin-left: 10px;
	margin-right: 10px;
}